.nights {
	display: flex;
	position: absolute;
	justify-content: space-between;
	align-items: center;
	width: 320px;
	border-radius: 15px;
	top: 92px;
	left: -75px;
	background: white;
	padding:15px;
	
	box-shadow: 1px 0 0 #e6e6e6, -1px 0 0 #e6e6e6, 0 1px 0 #e6e6e6,
		0 -1px 0 #e6e6e6, 0 3px 13px rgb(0 0 0 / 8%);
	.header {
		p {
			&:first-child {
			}
			&:last-child {
				font-size: 0.7rem;
				color: #868f98;
			}
		}
	}
	.buttons {
		display: flex;
		.disabled{
			border: 1px solid gray;
			color:gray;
		}
		button {
			border-radius: 100%;
			border: 1px solid #3982cb;
			width: 20px;
			height: 20px;
			line-height: 20px;
			color: #3982cb;
		}
		p {
			
			width: 20px;
			margin: 0 5px 0 5px;
			text-align: center;
		}
	}
	.styleButtonArrow{
		display: none;
	}
}
@media (max-width:1150px) {

	.nights{
		position: fixed;
		bottom: 0px !important;
		border-radius: 0;
		left: 0;
		top:auto !important;
		width: 100%;
		height: fit-content;
		z-index: 9999;
		padding-top: 40px;
	}
	.styleButtonArrow{
		display: block !important;
	}
}