.content {
	margin-top: 160px;
	.header {
		
		text-align: center;
		h1 {
			font-size: 3.3rem;
			font-weight: bold;
		}
		p {
			font-size: 1.4rem;
			color: #546179;
		}
	}
	.card {
		border: 1px solid #e1e1e1;
		border-radius: 8px;
		padding: 30px 40px;
		margin-top: 50px;
		.infoTour {
			display: flex;
			justify-content: space-between;
		}
		.picture {
			width: 30%;
			
			h3 {
				font-size: 1.5rem;
				font-weight: bold;
				margin-bottom: 15px;
			}
			img {
				border-radius: 8px;
			
			}
		}
		.infoItem {
			h5 {
				color: #9a9ab0;
				font-size: 1.25rem;
				font-weight: bold;
				margin-bottom: 10px;
				margin-top: 50px;
			}
			p {
				font-size: 1.4rem;
				font-weight: bold;
			}
		}
		.firstItem {
			width: 25%;
		}
		.changeItems {
			align-items: center;
			display: flex;
			padding: 14px 40px;
			background-color: #3982cb;
			color: white;
			font-size: 1.4rem;
			font-weight: bold;
			border-radius: 10px;
			margin-top: 50px;
			svg {
				margin-left: 5px;
				font-size: 1.8rem;
			}
		}
		.dopInfo {
			ul {
				li {
					display: flex;
					text-align: center;
					margin-top: 10px;
					font-size: 1.2rem;
					font-weight: bold;
				}
			}
			.hotelInfoFirst {
				display: flex;
				text-align: center;
				align-items: center;
				span {
					color: #9a9ab0;
					font-size: 1.1rem;
					font-weight: bold;
					margin-right: 5px;
				}
			}
			.hotelInfoTwo {
				span {
					color: #9a9ab0;
					font-size: 1.1rem;
					font-weight: bold;
					margin-right: 5px;
				}
			}
			.hotelInfoThree {
				span {
					color: #9a9ab0;
					font-size: 1.1rem;
					font-weight: bold;
					margin-right: 5px;
				}
			}
			.hotelInfoFour {
				span {
					color: #9a9ab0;
					font-size: 1.1rem;
					font-weight: bold;
					margin-right: 5px;
				}
			}
		}
	}
	.footerButton {
		margin-top: 30px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		> div {
			&:first-child {
				display: flex;
				max-width: 50%;
				font-size: 1.3rem;
				cursor: pointer;
				input {
					margin-right: 10px;
					cursor: pointer;
				}
				a {
					color: #3982cb;
				}
			}
			button {
				background: #f36326;
				padding: 15px 50px;
				border-radius: 15px;
				font-weight: bold;
				color: white;
				transition: all 200ms ease;
				&:hover {
					transform: scale(1.08);
				}
			}
		}
	}
}
.pay {
	display: flex;
	margin-top: 50px;
	.leftBlock,
	.rightBlock {
		width: 50%;
		padding: 41px 45px 38px;
		border: 1px solid #e1e1e1;
		border-radius: 8px;
		background: #ffffff;
	}
	.leftBlock {
		.header {
			h2 {
				text-align: left;
				font-weight: bold;
				font-size: 1.5rem;
				margin-bottom: 20px;
			}
			.price {
				display: flex;
				justify-content: space-between;
				text-align: left;
				font-size: 1.2rem;
				border-bottom: 1px solid #e1e1e1;
				padding-bottom: 10px;
				margin-bottom: 15px;
				p {
					&:first-child {
						font-size: 1.2rem;
					}
					&:last-child {
						font-size: 1.2rem;
						font-weight: bold;
					}
				}
			}
		}
		.summ {
			display: flex;
			justify-content: space-between;
			p {
				&:first-child {
					font-size: 1.5rem;
					color: #11142d;
				}
				&:last-child {
					font-size: 1.8rem;
					color: #11142d;
					font-weight: bold;
				}
			}
		}
	}
	.rightBlock {
		margin-left: 20px;
		h2 {
			font-size: 1.5rem;
			font-weight: bold;
		}
		form {
			> div {
				display: flex;
				align-items: center;
				border-bottom: 1px solid #e1e1e1;
				padding-bottom: 15px;
				margin-top: 15px;
				font-size: 1.2rem;
				cursor: pointer;
				img {
					height: 27px;
					margin-left: 15px;
				}
				input {
					cursor: pointer;
					margin-right: 10px;
				}
			}
		}
	}
}
@media (max-width: 1000px) {
	.content {
		.card {
			.infoTour {
				display: block;
			}
		}
		.picture {
			width: 50% !important;
		}
		.changeItems {
			width: 100%;
			justify-content: center;
		}
	}
	.infoItem {
		h5 {
			color: #9a9ab0;
			font-size: 1.25rem;
			font-weight: bold;
			margin-bottom: 10px;
			margin-top: 20px !important;
		}
		p {
			font-size: 1.4rem;
			font-weight: bold;
		}
	}
	.changeItems {
		margin-top: 0px;
	}
}

