.popular_container {
  margin-top: 64px;

  .container-xxl {
    max-width: 1600px;
  }

  .mb-card-country {
    margin-bottom: 20px;
  }

  .popular_card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 34px 32px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.056) 0%, rgba(0, 0, 0, 0.336) 58.08%, rgba(0, 0, 0, 0.56) 100%);
    border-radius: 32px;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0px -100px 70px rgb(0 0 0 / 50%);
  }

  .card_size-3 {
    height: 335px;
  }

  .title_popular_card {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 40px;
    letter-spacing: -0.38px;
    color: #FFFFFF;
  }

  .description_popular_card {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    margin-top: 16px;
  }

}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@media (max-width: 1199.98px) {
  .popular_container {
    .container-xxl {
      padding: 0 30px;
    }
  }
}


