.getOffer1{
  padding-top: 100px;
  
  color:white;
  .table{
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    margin: auto;
    .item{
      width: 30%;
      margin: 20px 20px 10px 0;
      text-align: center;
      border: 2px solid white;
      padding: 10px;
      border-radius: 10px;
      font-weight: bold;
      font-size: 1.7rem;
      cursor: pointer;
    }
    .active{
      background-color: #FFFFFF;
      color:#3982CB;
    }
  }
  .header{
    text-align: center;
    h1{
      font-size: 2.7rem;
      font-weight: bold;
    }
    h3{
      width: fit-content;
      opacity: .7;
      font-weight: bold;
      font-size: 1.5rem;
      margin:15px auto 30px auto;
      border-bottom: 2px solid rgba(#FFFFFF,0.7);
      padding-bottom: 5px;
    }
  }
}