ul li {
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
}

.mobile-menu-wrap {
  display: block;
  background-color: #FBF9F9;
  height: 100vh;
  z-index: 7;

   .menu_mob_list {
     padding-top: 17px;
     ._item {
       margin-bottom: 22px;

       .item_a_menu {
         font-family: 'Gilroy', sans-serif;
         font-style: normal;
         font-weight: 400;
         font-size: 22px;
         line-height: 24px;
         color: #000000;
         opacity: 0.5;
       }
       .item_a_menu.active {
         font-family: 'Gilroy', sans-serif;
         font-style: normal;
         font-weight: 600;
         font-size: 26px;
         line-height: 39px;
         letter-spacing: -0.03em;
         border-bottom: 2px solid #000000;
         color: #000000;
         opacity: 1;
         width: fit-content;
       }
     }

     ._dop_item {
       margin-top: 36px;
     }
   }

  .contacts-wrapper {
    position: absolute;
    bottom: 20px;

    .tel-wrapper a {
      display: flex;
      align-items: center;
      font-family: 'Gilroy', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 20px;
      color: #3982CB;
    }

    .tel-wrapper svg {
      margin-right: 14px;
    }

    .tel-wrapper.email {
      margin-top: 16px;
      margin-bottom: 30px;
    }

    .language-wrapper {
      display: flex;
      align-items: center;
    }

    .language-wrapper svg {
      margin-right: 14px;
    }

    .language-wrapper a {
      font-family: 'Gilroy', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 100%;
      color: #868F98;
      margin-right: 10px;
    }
    .language-wrapper a.active {
      color: #3982CB;
    }

  }
}

@media (max-width: 576px) {
  .mobile-menu-wrap.container-xxl {
    padding: 0 15px;
  }
}

.arrowButtonExitHeader{
	font-size: 3rem;
	color: #3982cb;
}