.principle-work {
  display: flex;
  justify-content: center;

  text-align: center;
  flex-direction: column;

  h3 {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #1D293F;

    font-size: 25px;  //mobile
    line-height: 32px;
  }

  p {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #546179;

    margin-top: 4px;
    font-size: 16px;
    line-height: 20px; //mobile
  }

  .advantages {
    padding-top: 40px;

    .advantages-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        width: 256px;

      }

      h4 {
        font-family: 'Gilroy', sans-serif;
        font-weight: 600;
        color: #23262F;

        font-size: 21.4375px;  //mobile
        line-height: 24px;
        margin-top: 0px;
        margin-bottom: 6px;
      }

      .description-container {
        max-width: 273px;x

        p {
          font-family: 'Gilroy', sans-serif;
          font-weight: 400;
          text-align: center;
          color: #777E91;

          font-size: 13.7812px;  //mobile
          line-height: 18px;
        }
      }
    }
  }
}