.slider {
	@apply mt-10 mb-10;
	// nav img{
	//   @apply rounded-lg;
	// }
}
.description {
	h2 {
		@apply text-4xl font-bold mb-5;
    margin-left: 2px;
	}
	h3 {
		@apply text-2xl font-bold;
	}
	font-size: 2.2rem;
	font-weight: bold;
	border-bottom: 2px solid #e9ecef;
	margin-bottom: 20px;
}
.bg {
	background: #fbfbfb;
	padding: 16px 48px 10px 24px;
	border-radius: 8px;
	.price {
		margin-bottom: 15px;

		p {
			color: #99a3ad;
		}
		h3 {
			font-size: 2.5rem;
			font-weight: bold;
			display: flex;
			align-items: center;
		}
		span {
			font-size: 1rem;
			color: #546179;
			font-weight: 500;
			margin-left: 15px;
		}
	}

	
}
.crumbs {
  margin-left: 2px;
  span {
    color: #99a3ad;
    font-size: 1.3rem;
    font-weight: 500;
    a:hover{
      color: #99a3ad;
    }
  }
}
.description2 {
	margin-left: 20px;
	h2 {
		@apply text-4xl font-bold;
			
	}
}
.hotelInfo {
	margin-top: 100px;
	margin-bottom: 35px;
	display: flex;
	align-items: center;

	img {
		border-radius: 32px;
		width: 50%;
	}
}
@media (max-width: 990px) {
	.hotelInfo {
		display: block;
		img {
			width: 100%;
		}
		.description2 {
			margin-left: 0;
      h2{
        margin-top: 40px;
        color:black;
        font-size: 1.6rem;
      }
		}
	}

	.infoCard {
		svg {
			color: #546179 !important;
		}
	}
}
