.search-page {
  .center_title {
    margin-top: 80px;
    text-align: center;
  }

  .hotel-cards{
    // @apply col-12 col-lg-8;
  }

  .block_title {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    color: #1D293F;
  }

  .search_filter_result_wrap {
    .filter_item:not(:first-child) {
      margin-top: 35px;
    }

    .search_filter_result_body {
      margin-top: 16px;
      background: #FFFFFF;
      border: 1px solid #E9ECEF;
      border-radius: 16px;
      padding: 64px 51px 64px 57px;

      .filter_name {
        margin-bottom: 16px;
        font-family: 'Gilroy', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 20px;
        color: #546179;
      }
      .hotel_search {
        position: relative;
        .searchTable{
          position: absolute;
          top: 40px;
          width: 100%;
          border: 1px solid #DCE5EB;
          border-top: none;
          background-color: white;
          z-index: 888888;
          li{
            margin: 10px 10px 10px 17px;
            &:hover{
              color: #3982CB;
            }
          }
        }
      }
      .select_hotel {
        width: 100%;
        border: 1px solid #DCE5EB;
        border-radius: 8px;
        padding: 12px 18px;
        font-family: 'Gilroy', sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.5px;
        color: #99A3AD;
      }
      .searchTableLoading{
        width: 100%;
        border: 1px solid #DCE5EB;
        border-radius: 8px;
        padding: 12px 18px;
        font-family: 'Gilroy', sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.5px;
        color: #99A3AD;
      }

      .wrapper_checkbox {
        display: flex;
        flex-direction: row;

        font-family: 'Gilroy', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.5px;
        margin-bottom: 12px;
        color: #212529;

        input:checked+label.custom-checkbox {
          border-color: #0b76ef;
          background-color: #0b76ef;
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
        }

        .custom-checkbox {
          content: '';
          display: inline-block;
          width: 24px;
          height: 24px;
          flex-shrink: 0;
          flex-grow: 0;
          border: 1px solid #DCE5EB;
          border-radius: 8px;
          margin-right: 21px;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 50% 50%;
          outline: none;

          .active-checkbox {
            width: 100%;
            height: 100%;
            background-color: #0a58ca;
          }
        }
        .stars_hotel {
          display: flex;
          flex-direction: row;
        }
      }
    }
    .btn_.get-offer {
      padding: 15px 27px;
      background: #3982CB;
      border-radius: 12px;
      font-family: 'Gilroy', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 20px;
      color: #FFFFFF;
    }

    .btn_.get-offer.reset_btn {
      background: #ffffff;
      color: #3982CB;
      border: 2px solid #3982CB;
    }
  }
}

.search-page {
    .search_count_body {
      margin-top: 30px;
      padding: 30px 24px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #FFFFFF;
      border: 1px solid #E9ECEF;
      border-radius: 20px;
      font-family: 'Gilroy', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      color: #212529;

      b {
        margin-right: 5px;
      }

      .search-sort-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        .search_sort.search_sort {
          color: #546179;
          padding-left: 10px;
        }
      }
      .search_sort_sp {
        margin-right: 5px;
      }
    }

    .custom-select {
      &__control {
        background-color: transparent !important;
        border: 0;
      }
      &__single-value {
        font-family: "Gilroy", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
      }
      &__menu {
        z-index: 100;
        border-radius: 16px;
        padding-top: 10px
      }
    }
}



@media (max-width: 992px) and (min-width: 576px) {
  .search-page {
    .block_title {
      font-size: 50px;
      line-height: 60px;
    }
  }
}

@media (max-width: 992px) {
  .search-page {
    // .search_title {
    //   display: none;
    // }
    // .search_count_body {
    //   display: none;
    // }
  }
}

@media (max-width: 1199.98px) {
  .search-page {
    .search_filter_result_wrap {
      display: none;
      .search_filter_result_body {
        padding: 64px 51px 144px 57px;
      }
      .btn_.get-offer {
        display: none;
      }
    }
  }
}
