.table {
	margin-top: 50px;
	

	p {
		color: #bcf0ec;
		text-align: center;
		background: #3982cb;
		border-radius: 100%;
		width: 30px;
		height: 30px;
		display: block;
		flex-shrink: 0;
		line-height: 30px;
		margin-right: 10px;

		span{
			opacity: 0;
			pointer-events: none;
		}
	}
	>div{
		border: 2px solid #f8f9fa;
		margin-bottom: 45px;
	}
	h2 {
		display: flex;
		background-color: #fbfbfb;
		padding: 20px;
		align-items: center;
		font-weight: bold;
		border-bottom: 1px solid #e9ecef;
		border-radius: 15px 15px 0 0 ;
		span {
			color: #bcf0ec;
			text-align: center;
			background: #3982cb;
			border-radius: 100%;
			width: 60px;
			height: 30px;
			line-height: 30px;
			font-weight: bold;
			margin-right: 10px;
		}
	}
	ol {
		padding: 20px;
	}
	div {
	}
}
