.footer {
  padding-top: 75px;

  .logo-wrapper {
    .footer-logo {
      display: flex;
      width: 170px;
      height: 50px;
    }
    .logo-description {
      margin-top: 22px;
      margin-bottom: 24px;
      font-size: 14.7541px;
      line-height: 19px;  //mobile

      font-family: 'Gilroy', sans-serif;
      font-style: normal;
      font-weight: 500;
      color: #000000;
    }
  }

  .title-footer {
    margin-bottom: 15px; //mobile
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
    color: #000000;
  }

  .li {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #3982CB;

    margin-bottom: 16px; //mobile
  }

  .ul {
    padding-bottom: 15px;
  }

  .ul-last {
    padding-bottom: 30px;
  }

  .social-net-wrapper {
    display: flex;
    flex-direction: row;
    max-width: 120px;
    justify-content: space-between;
    .social-net-img {
      width: 52px;
      height: 52px;
    }
  }
}

.main-footer {
  margin-top: 24px;
  padding: 24px 0 26px; //mobile

  display: flex;
  align-items: center;
  min-height: 84px;
  border-top: 1px solid #EBEBEB;

  width: 100%;

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    p {
      font-size: 14.7541px;
      line-height: 19px;
      font-family: 'Gilroy', sans-serif;
      font-style: normal;
      font-weight: 500;
      color: #000000;

      text-align: center;

      //margin-left: 10px;
    }

    img {
      height: auto;
      display: block;
      max-width: 335px;
      width: 100%;
      margin: auto;
      margin-top: 15px; //mobile

      vertical-align: top;
      //margin-left: 14px;
    }
  }
}

//576 - 768
@media (min-width: 576px) {
  .footer {
    .main-footer {
      .wrapper {
        p {
          font-size: 20px;
          line-height: 130%;
        }
      }
    }

    .logo-wrapper {
      .logo-description {
        font-size: 20px;
        line-height: 130%;
        margin: 30px 0 36px;
      }
    }
  }
}

//768 - 992
@media  (min-width: 768px) {
  .footer {
    .main-footer {
      margin-top: 47px;
      .wrapper {
        flex-direction: row;
        align-items: start;
        p {
          font-size: 20px;
          line-height: 130%;
          flex: 0 0 auto;
          width: 50%;
          text-align: start;
        }

        div {
          flex: 0 0 auto;
          width: 50%;
          height: 100%;

          img {
            margin: 0;
            display: block;
            margin-left: auto;
            width: 369px;
            height: auto;
          }
        }
      }
    }

    .block-1-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .title-footer {
        margin-bottom: 24px;
      }
      .li {
        margin-bottom: 24px;
      }

      .logo-wrapper {
        flex: 0 0 auto;
        width: 33.33333333%;
      }

      .content-1 {
        flex: 0 0 auto;
        width: 16.66666667%;
        padding-left: 10.5px;
        padding-right: 10.5px;
      }

      .content-2 {
        flex: 0 0 auto;
        width: 25%;
        padding-left: 10.5px;
        padding-right: 10.5px;
      }
    }

    .block-2-wrapper {
      display: flex;
      flex-direction: column;
      .title-footer {
        margin-bottom: 28px;
      }
      .ul-last {
        padding-bottom: 0px;
      }

      .title-footer-soc-net {
        margin-bottom: 23px;
        padding-top: 7px;
      }

      .social-net-wrapper {
        max-width: 130px;
        .social-net-img {
          width: 58px;
          height: 59px;
        }
      }

    }
  }
}

//992 - 1200
@media  (min-width: 992px) {
  .footer {
    .logo-wrapper {
      .footer-logo {
        width: 197px;
        height: 50px;
      }
    }
  }
}

//1200 - 1400
@media  (min-width: 1200px) {

}

@media  (min-width: 1400px) {

}