.article-comp {
  padding-top: 75px; //mobile

  h3 {
    color: #1D293F;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 700;

    font-size: 25px;  //mobile
    line-height: 32px;
  }

  .description {
    margin-top: 4px;  //mobile
    font-size: 16px;
    line-height: 20px;

    color: #546179;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 500;
  }

  .content-wrapper {
    flex-wrap: nowrap;
    display: flex;

    flex-direction: column; //mobile

    margin-top: 18px; //mobile
  }

  .article {
    width: 100%;
    max-width: 512px;

    padding-bottom: 20px;

    .image {
      height: 212px;  //mobile
      padding: 19.6px;

      position: relative;
      width: 100%;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.056) 0%, rgba(0, 0, 0, 0.336) 58.08%, rgba(0, 0, 0, 0.56) 100%), #6C757D;
      background-size: cover;
      border-radius: 32px;
      background-position: center;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      box-shadow: inset 0px -100px 70px rgb(0 0 0 / 50%);

      .date {
        font-family: 'Gilroy', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
      }
    }

    .name {
      margin-top: 15px;
      margin-bottom: 10px;
      font-size: 18px;
      line-height: 20px; //mobile

      font-family: 'Gilroy', sans-serif;
      font-style: normal;
      font-weight: 500;
      text-align: center;
      letter-spacing: -0.38px;
      color: #1D293F;
    }
  }

  button {
    margin: 34px auto 0;
    background: #3982CB;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #FFFFFF;

    width: 100%; //mobile
    height: 49px;
    font-size: 18px;
    line-height: 21px;
    margin-top: 16px;
  }
}