.getOffer3 {
	color: white;

	.header {
		text-align: center;
		h1 {
			font-size: 3rem;
			font-weight: 600;
			margin-bottom: 20px;
		}
	}
  .people {
    margin: auto;
    width: 300px;
	}
}
@media (max-width: 761px) {
	.header {
		text-align: left !important;
		h1 {
			margin-bottom: 20px;
			margin-left: 15px;
			margin-right: 30px;
			text-align: left !important;
		}
	}
}
@media (max-width: 578px) {
	.header {
		text-align: left !important;
		h1 {
			margin-bottom: 20px;
			font-size: 1.9rem !important;
		}
	}
}
@media (max-width: 377px) {
	.people {
    margin: 0 30px !important;
    width: auto !important;
	}
}

