.subscribe {
  background: #3982CB;
  color:white;
	.content {
    display: flex;
    align-items: center;
		width: 1150px;
		margin: auto;
		padding-top: 74px;
		padding-bottom: 74px;
		.text {
			width: 70%;
		}
		h1 {
			font-size: 3rem;
			font-weight: bold;
		}
	}
  .inputBlock{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    padding: 10px;
    border-radius: 20px;
    background: white;
    height: 80px;
    .button{
      background-color: #3982CB;
      font-weight: bold;
      padding: 7px 20px;
      border-radius: 10px;
      font-size: 1.3rem;
      transition: all 300ms ease-in-out;
      &:hover{
        padding: 14px 30px;
      }
    }
  }
}
