@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gilroy";
  src: local("GilroyRegular"),
  url("./fonts/gilroy-medium.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: Gilroy;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.mainBg {
  /*background-color: #61dafb;*/
  background-image: url("./assets/images/BG Image.jpg");
  background-size: cover;
  height: 100%;
}

.px-15px {
  padding-right: 15px;
  padding-left: 15px;
}
