.price{
  display: flex;
  border: 1px solid #DCE5EB;
  padding: 5px 10px;
  font-size: 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  input{
   width: 100%;
   cursor: pointer;
    &:focus-visible{
      outline: none;
      
    }
  }
  
}