.getOffer4 {
	color: white;

	.header {
		text-align: center;
		h1 {
			font-size: 3rem;
			font-weight: 600;
		}
		h2 {
			width: fit-content;
			font-weight: 500;
			font-size: 1.6rem;
			margin: 15px auto 30px 30px;
			padding-bottom: 5px;
		}
	}
	.table {
		display: flex;
		flex-wrap: wrap;
		max-width: 900px;
		margin: auto;
		justify-content: space-around;
		.item {
			width: 30%;
			margin: 20px 20px 10px 0;
			text-align: center;
			border: 2px solid white;
			padding: 10px;
			border-radius: 10px;
			font-weight: 500;
			font-size: 1.7rem;
			cursor: pointer;
			&:nth-child(3) {
				margin-right: 0;
			}
			&:nth-child(6) {
				margin-right: 0;
			}
		}
	}
	.active {
		background-color: #ffffff;
		color: #3982cb;
	}
	@media (max-width: 767px) {
		.table {
			margin-left: 30px;
			margin-right: 30px;
			flex-direction: column;
			.item {
				width: 100%;
			}
			
		}
		.header {
			// margin-top: 200px;
			h1 {
				text-align: left;
				margin-left: 30px;
				font-size: 3rem;
				font-weight: 600;
			}
			h2 {
				width: fit-content;
				font-weight: 500;
				font-size: 1.6rem;
				margin: 15px auto 30px 30px;
				padding-bottom: 5px;
			}
		}
	}
}
@media (max-width:577px) {
	.header {
		text-align: left !important; 
		h1 {
			font-size: 1.9rem !important;
			font-weight: bold;
			margin-left: 15px !important;
		}
		h2 {
			width: fit-content;
			font-size: 1.3rem !important;
			margin: 16px auto 0px auto !important;
			padding: 0px 25px 5px 15px !important;
		}
	}
	.table{
		margin-left: 15px !important;
		margin-right: 15px !important;
		margin-top: 10px;
		.item{
			font-size: 1rem !important;
			padding-top: 18px !important;
			padding-bottom: 18px !important;
			margin-right: 0 !important;
			margin-top: 8px !important;
		}
	}
	.textarea{
		margin: 0 30px !important;
	}
}
